#nav-bar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    box-shadow: 1px 1px 5px #ccc;
    top: 0px;
    min-width: 100%;
    z-index: 5;
    opacity: 0.95;
}

.left-section {
    display: flex;
    align-items: center;
    
}

.right-section {
    align-items: center;
    margin-left: 48px;
}

.about-us {
    margin-left: 16px;
    margin-right: 16px;
}

.contact {
    margin-right: 16px;
}

.get-started {
    margin-right: 48px;
}


#logo {
    color: rgb(0 74 173);
    font-family: 'Cabin', sans-serif;
    margin: 14px 0px 16px 0px;  
    letter-spacing: 2px;
    position: relative;
}

#logo:hover{
    animation: logo 4s ease-in-out  10;
} 

@keyframes logo {
    0% {color: rgb(44, 28, 22);}
    50% {color: rgb(96, 8, 122);} 
    100% {color: rgb(104, 34, 9);}
}

a {
    text-decoration: none;
    color: rgba(0, 74, 173, 0.9);
}

.header-atag {
    color: #198754;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #198754;
}

.header-atag:hover {
    background-color: #198754;
    color: white;
}

@media screen and (max-width: 600px) {
    .left-section, .about-us, .contact {
        display: none;
    }
}